{% extends 'auth.html' %}

{% block content %}
    Register form
    <div>
        Username:
        <input type="text" id="username">
    </div>
    <div>
        Password:
        <input type="text" id="password">
    </div>
    <input type="submit" onclick="register(
        usernameInput.value, passwordInput.value
    )" value="Register">
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        let usernameInput = document.querySelector("#username");
        let passwordInput = document.querySelector("#password");
    </script>
{% endblock %}
